eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
 
 
otel:
  exporter:
    otlp:
      endpoint: http://otel-collector:4317
      protocol: grpc
 
management:
  tracing:
    sampling:
      probability: 1.0
        
  endpoints:
    web:
      exposure:
        include: refresh, health, info, prometheus
        
      
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

    tags:
      application: ${spring.application.name}          
   


   


logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"

 

jwt:
 access:
  secret: MysuperSecretKeyForJWT1234567890098765432dffgdfsgfgsfgsdfgfsfgffgsfg456w5w465w4rggfg4453
  expiration: 9000   # 15 min +
 refresh:
  secret: MysuperSecretKeyForJWT123456789009876hd7532dffgdfsgfgsfgsdfgfsfgffgsfg456w5w465w4rggfg4453
  expiration: 604800  # 7 days
 roles:
 admin: ROLE_ADMIN
 user: ROLE_USER
 

    
    
